/* ### Primary

- Grayish blue: hsl(237, 18%, 59%)
- Soft red: hsl(345, 95%, 68%)

### Neutral

- White: hsl(0, 0%, 100%)
- Dark desaturated blue: hsl(236, 21%, 26%)
- Very dark blue: hsl(235, 16%, 14%)
- Very dark (mostly black) blue: hsl(234, 17%, 12%) */
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
    background: hsl(235, 16%, 14%);
}
.hills{
    width: 100%;
    position: absolute;
    bottom: 0%;
}
.stars{
    width: 100%;
    height: 600px;
    position: absolute;
}
.icon{
    margin: 20px;
}
.icons{
    display: flex;
    justify-content: center;
    /* align-items:flex-end; */
    position: absolute;
    bottom: 8%;
    left: 50%;
    right: 50%;
}
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
}
.countdown{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 75px;
}
.countdown p{
    background-color:hsl(236, 21%, 26%) ;
    border-radius: 8px;
    color:hsl(345, 95%, 68%) ;
    padding: 25px;    
    margin: 20px;
    width: 170px;
    height: 170px;
    border-bottom: .15em solid hsl(234, 17%, 12%) ;
    font-size:90px;
}
.countdown h3{
    color:hsl(237, 18%, 59%) ;
    text-transform: uppercase;
    font-size: small;
    letter-spacing: .5em;

}
.title{
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-size: x-small;
    letter-spacing: 1em;
}
